body {
  margin: 0;
  font-family: Verdana, Helvetica, sans-serif;
}

.topnav {
  position: fixed;
  width: 100%;
  overflow: hidden;
  padding-right: 20px;
  background-color: #0f73ee;
  z-index: 9999;
}

.topnav span {
  float: right;
}

.topnav span i {
  margin-right: 5px;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(252, 249, 249);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 18px;
}

.card-body .form-group submit {
  background-color: #0f73ee;
  color: #fff;
}

.logo {
  margin-top: 3px;
  margin-bottom: auto;
  margin-left: 2vw;
  float: left;
  width: 11vw;
  height: 4vw;
  margin-bottom: 3px;
}

.topnav .active {
  border-radius: 3px;
  background: #0f73eee7;
  color: #ffffffe7;
}

.topnav .icon {
  display: none;
}

.topnav Link {
  color: aqua;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    width: 100%;
    overflow: hidden;
    padding-right: 0px;
    background-color: #0f73ee;
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
  }

  .logo {
    margin-left: 4vw;
    float: left;
    width: 24vw;
    height: 10vw;
  }
}
